body{
  background-image: linear-gradient(0deg, #eaf6f6 , #b2ebf2);
}

hr{
  border: dotted 6px;
  width:4%;
  color: #40a8c4;
  border-bottom: none;
  opacity: 0.2;
}

/* landing */

.land{
  margin: 2%;
  text-align: center;
}

.mountains{
  width: 95%;
  position: relative;
  z-index: 0;
}

.cloud-left{
  width: 16%;
  padding: 1% 2% 0% 0%;
  margin: 3% 65% 0% 0%;
  position: relative;
  z-index: 0;
  animation: cloud-lt 1.0s ease-out;
}

@keyframes cloud-lt{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

.cloud-right{
  margin-left: 72%;
  margin-top: 4%;
  width: 20%;
  padding: 1% 0% 0% 0%;
  position: relative;
  z-index: 0;
  animation: cloud-rt 1.5s ease-out;
}

@keyframes cloud-rt{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

.heading{
  font-family: 'Sacramento', cursive;
  font-size: 500%;
  color: #40a8c4;
  font-weight: bold;
  padding-top: 0.5%;
  padding-bottom: 2%;
}

.dot{
  animation: dt 1.0s ease-in;
}

@keyframes dt {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.prog{
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 200%;
  color: #40a8c4;
  font-weight: bold;
  line-height: 1.3;
}


/* intro */

.intro{
  text-align: center;
  padding: 3% 0% 2% 0%;
}

.profile-pic{
  width: 13%;
  position: relative;
  z-index: 0;
  padding-bottom: 3%;
}

.hi{
  font-size: 200%;
  color: #40a8c4;
  font-family: 'Baloo Tammudu 2', cursive;
  padding-bottom: 2%;
}

.intro{
  font-size: 110%;
  color: #0f4c75;
  font-family: 'Courier Prime', monospace;
  line-height: 2;
  padding: 0% 7%;
}

/* skills */

.skill{
  text-align: center;
  padding: 3% 0% 0% 0%;
  padding-right: 0%;
  padding-left: 0%;
}

.my-skills{
  font-size: 200%;
  color: #40a8c4;
  font-family: 'Baloo Tammudu 2', cursive;
  padding-bottom: 2%;
  text-align: center;
}

.skills{
  margin-left: 16%;
}

.sk-head{
  font-size: 120%;
  color: #40a8c4;
  font-family: 'Courier Prime', monospace;
  line-height: 2;
}

.skill-row{
  font-size: 110%;
  color: #0f4c75;
  font-family: 'Courier Prime', monospace;
  line-height: 2;
  padding: 3% 6%;
  text-align: left;
  width: 80%;
}

.python{
  float: left;
  margin-right: 1%;
  position: relative;
  bottom: 12px;
}

.shell{
  float: right;
  margin-left: 1%;
  margin-top: 2%;
}



.sketch{
  float: left;
  margin-right: 1%;
  margin-top: 3%;
}

.camera{
  float: right;
  margin-left: 1%;
  margin-top: 1%;
}

.photoshop{
  float: left;
  margin-right: 1%;
  margin-top: 1%;
}

.fcp{
  float: right;
  margin-left: 2%;
  margin-top: 5%;
}
.fr-end{
  float: left;
  margin-right: 5%;
  margin-top: 6%;
  padding-bottom: 1%;
  width: 30%;
}

.bol{
  font-weight: 900;
}

/* get in touch */

.contact{
  text-align: center;
  padding: 3% 0% 2% 0%;
}

.git{
  font-size: 200%;
  color: #40a8c4;
  font-family: 'Baloo Tammudu 2', cursive;
  padding-bottom: 2%;
}

.ap{
  font-size: 104%;
}

.ap:hover{
  font-size: 120%;
}

.ft-para{
  font-size: 150%;
  color: #40a8c4;
  font-family: 'Baloo Tammudu 2', cursive;
  padding-bottom: 0.6%;
  line-height: 2;
}

.collab{
  font-size: 110%;
  color: #0f4c75;
  font-family: 'Courier Prime', monospace;
  padding: 0% 15%;
  line-height: 2;
}

/* footer */

.footer{
  font-size: 100%;
  /* background: #b2ebf2; */
  background-image: linear-gradient(90deg, #eaf6f6 , #b2ebf2 , #eaf6f6);
  color: #0f4c75;
  text-align: center;
  font-family: 'Courier Prime', monospace;
  padding: 2%;
  padding-top: 3%;
}

.footer-link{
  font-size: 150%;
  text-align: center;
  color: #0f4c75;
  padding: 2%;
  margin-bottom: 2%;
}

.footer-link:hover{
  color: #40a8c4;
  text-decoration: none;
}

.cpr{
  margin-top: 1%;
}



/* media queries */

@media (max-width: 870px){

  .cloud-right{
    margin-left: 72%;
    margin-top: 2.5%;
    padding: 1% 0% 0% 0%;

  }
  .heading{
    padding-top: 2%;
    font-size: 320%;
    padding-bottom: 2%;
  }
  .prog{
    font-size: 160%;
  }
  .profile-pic{
    width: 19%;
  }
  .git{
    font-size: 160%;
  }
  .ft-para{
    font-size: 113%;
  }
  .footer{
    font-size: 85%;
  }
  .footer-link{
    font-size: 130%;
  }
}

@media (max-width: 768px){
  .skill-row{
    padding: 3% 3%;
    width: 85%;
  }
}


@media (max-width: 440px){

  .cloud-right{
    top: 18%;
    right: 1%;
    margin-top: 1.5%;
    padding: 1% 0% 0% 0%;
    width: 13%;
    position: fixed;
    z-index: 1;
  }
  .cloud-left{
    top: 3%;
    left: 2%;
    padding: 1% 0% 0% 0%;
    width: 13%;
    position: fixed;
    z-index: 1;
  }
  .heading{
    padding-top: 2%;
    font-size: 260%;
    padding-bottom: 2%;
  }
  .prog{
    font-size: 120%;
    padding: 0% 8%;
  }
  .profile-pic{
    width: 30%;
  }
  .hi{
    font-size: 135%;
  }
  .intro{
    font-size: 100%;
    padding: 0% 7%;
  }
  .sk-head{
    margin-top: 3%;
  }
  .my-skills{
    padding-bottom: 1%;
  }
  .skill-row{
    text-align: center;
    font-size: 100%;
  }
  .python{
    /* right: 2%;
    top: 9%;
    bottom: 2%; */
    margin-top: 7%;
    padding: 0% 5%;
    position: relative;
    width: 100%;
  }
  .shell{
    margin-bottom: 2%;
    padding: 1% 5%;
    position: relative;
    width: 80%;
    right: 3%;
  }
  .sketch{
    margin-bottom: 2%;
    padding: 0% 5%;
    position: relative;
    width: 90%;
  }
  .camera{
    margin-top: 7%;
    padding: 0% 5%;
    position: relative;
    width: 90%;
  }
  .photoshop{
    margin-bottom: 2%;
    padding: 1% 5%;
    position: relative;
    width: 80%;
    left: 7%;
  }
  .fcp{
    margin-left: 3%;
    margin-bottom: 2%;
    padding: 1% 9%;
    position: relative;
    width: 75%;
    right: 6%;
  }
  .fr-end{
    margin-bottom: 2%;
    padding: 1% 5%;
    position: relative;
    width: 80%;
    left: 7%;
  }
  .git{
    font-size: 135%;
  }
  .ft-para{
    font-size: 114%;
  }
  .collab{
    font-size: 97%;
    padding: 0% 4%;
  }
  .footer{
    font-size: 80%;
  }
  .footer-link{
    font-size: 100%;
  }
}
